@import url("https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  /* --primary: 255,219,172; */
  --primary: 245, 245, 245;
  --secondary: 0, 0, 0;
}

.dark {
  --primary: 0, 0, 0;
  --secondary: 245, 245, 245;
}

html {
  font-family: "Sora", sans-serif ;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style:normal;
}

body::-webkit-scrollbar {
  display: none;
}

.textLayer {
  display: none;
}

.react-pdf__Page {
  background-color: var(--primary) !important;
}

.react-pdf__Page__canvas {
  border: 1px solid rgb(var(--secondary));
  box-shadow: 0 0 30px 0 rgba(var(--secondary), 0.6);
}

.gthb > article::-webkit-scrollbar {
  display: none;
}
